
.form {
  background-color: transparent;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
}
.form .item {
  margin: 20px;
}

.header {
  margin-left: 30%;
  align-items: center;
}

.page{
  background-color: transparent;
}


.display {
  width: 80%;
  height: fit-content;
  background-color: #434345;
  color: bisque;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

}
.orgName {
  color: red;
}

.displayView {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* .button {
    color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:20px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  margin:20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
    /* border:5px;
    border-radius: 30px;
    background-color: blueviolet;
    border-color: black;
    border-style:  outset;
    margin-right: 10px;
    color: white;
    
    font-family: ;

} */

.inputs {
    margin-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selfInput {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #000000 0%, #563d61 100%);
    position: fixed;
    margin-left: -8px;
    margin-top: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




  .custom_btn {
    /* margin: 20px; */
    margin-bottom: 10px;
    margin-left: 10px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn_7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn_7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn_7:before,
  .btn_7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #fb4b02;
    /* box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3); */
    transition: all 0.3s ease;
  }
  .btn_7:before{
     height: 0%;
     width: 2px;
  }
  .btn_7:after {
    width: 0%;
    height: 2px;
  }
  .btn_7:hover{
    color: rgba(251,75,2,1);
    background: #7425008e;
  }
  .btn_7:hover:before {
    height: 100%;
  }
  .btn_7:hover:after {
    width: 100%;
  }
  .btn_7 span:before,
  .btn_7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #fb4b02;
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn_7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn_7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn_7 span:hover:before {
    height: 100%;
  }
  .btn_7 span:hover:after {
    width: 100%;
  }

  .input {
    color: #fff;
    font-size: 20px;
    width: 300px;
    height: 30px;
    /* padding: 20px 5px 5px; */
    background-color: #fb4b02;
    border: 2px black ridge;
    border-radius: 30px;
  }
  
  .label {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
  }
  
  .span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 28px;
    transition: all 0.3s ease;
  }
  
  .label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #e0138c;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  .input:focus {
    color: black;
    background-color: whitesmoke;
    border-color: #fb4b02;
    box-shadow: none;
  }








