.father {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #000000 0%, #563d61 100%);  
    position: fixed;
    margin-left: -8px;
    margin-top: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
} */


/* 
.layout{
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #000000 0%, #563d61 100%);  
    position: fixed;
    margin-left: -8px;
    margin-top: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
} */
