.table {
  margin-top: 10px;
  border-left: 10px;
  color:rgb(0, 0, 0);
  border-color: rgb(243, 240, 240);
}
.table-spacing td,
.table-spacing th {
  padding: 60px; /* Ajuste o valor conforme necessário */
}
