.Form {
    display: flex;
    flex-direction: column; /* Alterado de column para row */
    flex-wrap: wrap; /* Permite que os itens sejam envolvidos em várias linhas */
    align-items: center; /* Alinha os itens ao início do contêiner */
    max-width: 100%; /* Ajustado para ocupar a largura total */
    justify-content: space-between; /* Espaçamento entre os itens */
}

.label {
    color: #FBFBFE;
    font-weight: bold;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}

.form-control, .select {
    background-color:  #2B2A33;
    color: #FBFBFE;
    height: 38px;
    width: fit-content; /* Ajustado para metade da largura com margem */
    border: 1px solid #726A5D;
    padding: 6px 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.number, .tel {
    color: #FBFBFE;
    background-color:  #2B2A33;
    width:fit-content; /* Ajustado para um quarto da largura com margem */
    margin-right: 10px;
}

.btn{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background: linear-gradient(90deg, #100454 0%, #c500cc 100%);
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 2391ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btn:hover{
transition : 2391ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(90deg, #100454 0%, #c500cc 100%);
color: #0066cc;
border: solid 2px #0066cc;

}

.footer {
    display: flex;
    flex-direction: initial;
    max-width: 60px;
}